#shang{
	margin-left: 200px;
}#zhong{
	margin-left: 200px;
}#xia{
	margin-left: 200px;
}
div{
	
}
video{
	width: 980px;
	height: 480px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 0px;
}
.btn{
	width: 30px;
	height: 30px;
	color: #46f1e5;
	background-color: transparent;
	background-image: url(btn.png);
	background-repeat: no-repeat;
	position: relative;
	border: none;
	
}
.btn:hover{
	color:#f5ee18 ;
}
#xiabtn1{
	background-position-x: -4px;
    background-position-y: -74px;
    position: relative;
    visibility: hidden;
}
#xiabtn1:hover{
	background-position-y: -109px;
}
#xiabtn11{
	position: relative;
	background-position-x: -4px;
    background-position-y: -4px;
    left: -38px;
    
}
#xiabtn11:hover{
	background-position-y: -40px;
}
#xiabtn2{
	background-position-x: -2px;
    background-position-y: -507px;
        top: 100px;
    left: 68px;
}
#xiabtn2:hover{
	background-position-y: -543px;
}
#xia3{
	position: relative;
    top: 61px;left: 400px;
    background-position-y: -144px;
}
#xia3:hover{
	background-position-y: -180px;
}
#xia4{
	position: relative;
    top: 61px;left: 400px;
    background-position-y: -215px;
    background-position-x: -9px;
}
#xia4:hover{
	background-position-y: -251px;
}
#xia5{
	position: relative;
    top: 51px;
    background-image: url();
    width: 45px;
    left: 400px;

}
#xia6{
	position: relative;
    top: 51px;
    background-image: url();
    width: 45px;left: 400px;
}
#lingtouyang:hover{
	background-color: black;
}
#xia7{
	position: relative;
	width: 90px;
	font-size: 35px;
    float: right;
     background-image: url();
}
#tuijian{
	list-style:none;
	position: relative;
	top: 108px;
	margin: 0px;
	padding: 0px;
	margin-left: 60px;
}
#tuijian li{
	margin-top:10px;
	color:#46f1e5;
}
#tuijian li span{
	position: relative;
	top: -50px;
	left: 20px;
}
#tuijian img{
	width: 200px;
	height: 124px;
}
#tuijian span{
	width: 200px;
	height: 124px;
}